@import '~@angular/material/theming';
@include mat-core();

// Colors
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);

// Theme
$light-theme: mat-light-theme($primary, $accent, $warn);
$dark-theme: mat-dark-theme($primary, $accent, $warn);

// Set Default Theme
@include angular-material-theme($light-theme);

// Set Dark Theme if Device Preference
@media (prefers-color-scheme: dark) {
  @include angular-material-theme($dark-theme);
}

// Styles
:root {
  --color-primary: #{mat-color($primary)};
  --color-accent: #{mat-color($accent)};
  --color-warn: #{mat-color($warn)};
}

html {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
